@using Task_1.ViewModels;

@model List<UserViewModel>

<div class="album py-5 bg-light">
	<div class="container">
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<div class="card-body">
							<p class="card-text">Name : @item.Name</p>
							<p class="card-text">Surname : @item.Surname</p>
							<p class="card-text">Email : @item.Email</p>
							<p class="card-text">City : @item.City</p>
							<p class="card-text">Street : @item.Street</p>
							<p class="card-text">State : @item.State</p>
							<p class="card-text">Country : @item.Country</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
									{
										<a asp-controller="Customer" asp-action="EditProfile" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
										<a asp-controller="Customer" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Delete</a>
									}
								</div>
							</div>
						</div>
					</div>
				</div>

			}
		</div>
	</div>
</div>